<div class="modal fade" id="new_membership_form" tabindex="-1" role="basic" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">加入<%= manageable.name %></h4>
      </div>
      <div class="modal-body">
        <% if params[:join_type] == "invite" %>
          <div class="note note-success">
            <p>
              邀请加入<%= manageable.name %>，请选择邀请人
            </p>
          </div>
          <%= render "invite_form", manageable: manageable, membership: membership %>
        <% else %>
          <div class="note note-success">
            <p>
              申请加入<%= manageable.name %>，申请完后，管理员会尽快审核。
            </p>
          </div>
          <%= render "form", manageable: manageable, membership: membership %>
        <% end %>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<script>
  //放在application 里面时候，无法正常执行
  var membershipFormValidate = function() {
    var membershipForm = $('#edit_membership_form');
    membershipForm.validate({
      rules: {
        "membership[desc]": {
          minlength: 2,
          required: true
        }
      },
      messages: {
        "membership[desc]": {
          minlength: "至少为2个字",
          required: "请填写申请的相关信息"
        }
      }
    });
  };
  $(function(){
    membershipFormValidate();
  });
</script>