<div class="post-comment">
  <%= simple_form_for [commentable, comment], remote: true do |f| %>

        <%= f.input :commentable_id, as: :hidden, input_html: {value: commentable.id} %>
        <%= f.input :commentable_type, as: :hidden, input_html: {value: commentable.class.name} %>

      <div class='panel-body'>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :parent_id, value: comment.parent.present? ? parent_comment.id : ''%>

        <%= f.input :content, label: false %>
        <%= f.button :submit, t('action_labels.save'), class: 'margin-top-20 btn blue float-right', remote: true %>

        <%#= f.button "取消", class: 'margin-top-20 btn blue float-right' %>
      </div>

  <% end %>

</div>
