<% app ||= main_app %>
<% user = User.find_by_id(comment.user_id) %>
<% commentable = comment.commentable %>
<% if comment.parent_id %>
  <% parent_comment = Comment.find(comment.parent_id) %>
  <% parent_user = User.find_by_id(parent_comment.user_id) %>
<% end %>
<div class='panel panel-default'>
  <div class='panel-heading'>
    #<%= comment.floor %>
    <%= link_to current_user.username %>
    <%= current_user.username %>
    <% if parent_comment %>
      <%= t('action_labels.reply') %>
      <%= link_to "##{parent_comment.floor}", "#comment-#{comment.parent_id}" %>
    <% end %>
    <div class='float-right'>
      <% if current_user %>
        <%=
          link_to t('action_labels.reply'),
          app.url_for([ commentable, :reply, comment]),
          class: 'button btn-xs reply-comment',
          remote: true
        %>
        <% if current_user == user or is_super_admin_or_admin?(current_user) %>
          <%=
            link_to t('action_labels.edit'),
            app.url_for([:edit,  commentable, comment] ),
            class: 'button btn-xs edit-comment',
            remote: true
          %>
          <%=
            link_to t('action_labels.are_you_sure'),
            app.url_for([ commentable, comment]),
            method: :delete,
            data: { confirm: t('action_labels.are_you_sure', thing: t('comment')) },
            class: 'button btn-xs btn-danger delete-comment',
            remote: true
          %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class='panel-body markdown'><%= comment.content %></div>
</div>
