<%= simple_form_for [@group, @topic], wrapper: :vertical_form, validate: true,  html: { role: 'form', id: 'topic_form' }  do |f| %>
  <div class="form-body">
    <%= f.input :title, as: :string %>
    <%= f.input :body  %>
    <%= f.input :tag_list  %>
    <%= f.input :status %>
    <div class="form-actions noborder">
      <%= f.submit class: 'btn green', data: { disable_with: t('action_labels.submitting') }  %>
      <%= link_to '取消',  request.referer.present? ? request.referer : organizations_path, class: 'btn default' %>
    </div>

  </div>
<% end %>

<h1>上传</h1>
<%= simple_form_for [@attachment], wrapper: :vertical_form, validate: true,
                    html: { role: 'form',  multipart: true, id: 'fileupload'}  do |f| %>
    <div class=" fileupload-buttonbar">
      <div class="progressbar fileupload-progressbar nofade"><div style="width:0%;"></div></div>
        <%= f.input :resourceable_id, input_html: {value: @topic.id }, as: :hidden%>
        <%= f.input :resourceable_type, input_html: {value: "Topic" }, as: :hidden%>

        <div class="row fileupload-buttonbar">
          <div class="col-lg-7">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    文件上传
              <%= f.input_field :link, label: false, name: "attachments[link][]", multiple: true %>
              </span>
            <button type="submit" class="btn btn-primary start">
              <i class="glyphicon glyphicon-upload"></i>
              <span>开始上传</span>
            </button>
            <button type="reset" class="btn btn-warning cancel">
              <i class="glyphicon glyphicon-ban-circle"></i>
              <span>取消上传</span>
            </button>
            <!-- The global file processing state -->
            <span class="fileupload-process"></span>
          </div>
          <!-- The global progress state -->
          <div class="col-lg-5 fileupload-progress fade">
            <!-- The global progress bar -->
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
              <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
            </div>
            <!-- The extended global progress state -->
            <div class="progress-extended">&nbsp;</div>
          </div>
        </div>


    </div>


    <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>

<% end %>


<script>
  var FormFileUpload = function () {


    return {
      //main function to initiate the module
      init: function () {

        // Initialize the jQuery File Upload widget:
        $('#fileupload').fileupload({
          disableImageResize: false,
          autoUpload: false,
//          uploadTemplateId:   "template-upload",
//          downloadTemplateId: "template-download",
          disableImageResize: /Android(?!.*Chrome)|Opera/.test(window.navigator.userAgent),
          maxFileSize: 5000000


//          acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i
        });



        // Load & display existing files:
        $('#fileupload').addClass('fileupload-processing');
        $.ajax({
          // Uncomment the following to send cross-domain cookies:
          //xhrFields: {withCredentials: true},
          url: $('#fileupload').attr("action"),
          dataType: 'json',
          context: $('#fileupload')[0]
        }).always(function () {
          $(this).removeClass('fileupload-processing');
        }).done(function (result) {
          $(this).fileupload('option', 'done')
                  .call(this, $.Event('done'), {result: result});
          console.log(result)
        });
      }

    };

  }();
  $(function () {
    FormFileUpload.init();
    var getAttachmentsUrl = "/attachments?q[assetable_id]=<%= @topic.id %>";
    $.getJSON(getAttachmentsUrl, function (files) {
      var fu = $('#fileupload').data('blueimpFileupload'),
              template;

      console.log(files);
      template = fu._renderDownload(files)
              .appendTo($('#fileupload .files'));
      // Force reflow:
      fu._reflow = fu._transition && template.length &&
      template[0].offsetWidth;
      template.addClass('in');
      $('#loading').remove();
    });

  });
</script>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>开始上传</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>取消上传</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>删除</span>
                </button>
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>取消上传</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>

