<div class="row">
  <!--群组的简介等信息-->


  <!--显示群组的文章-->
  <div class="col-md-8">

    <div class="portlet light">
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-12 blog-page">
            <div class="row">
              <div class="col-md-12 article-block">
                <h3 style="margin-top:0;"><%= @topic.title %></h3>
                <div class="blog-tag-data">
                  与之前的版本做对比
                  <div class="row">
                    <div class="col-md-6">
                      <ul class="list-inline blog-tags">
                        <li>
                          <i class="fa fa-tags"></i>
                          <a href="javascript:;">
                            Technology </a>
                          <a href="javascript:;">
                            Education </a>
                          <a href="javascript:;">
                            Internet </a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6 blog-tag-data-inner">
                      <ul class="list-inline">
                        <li>
                          <i class="fa fa-calendar"></i>
                          <a href="javascript:;">
                            April 16, 2013 </a>
                        </li>
                        <li>
                          <i class="fa fa-comments"></i>
                          <a href="javascript:;">
                            38 Comments </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!--end news-tag-data-->
                <div>
                  <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.
                  </p>
                  <blockquote class="hero">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit posuere erat a ante.
                    </p>
                    <small>Someone famous <cite title="Source Title">Source Title</cite></small>
                  </blockquote>
                  <p>
                    Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Eserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpa
                  </p>
                </div>
                <hr>
                <div class="media">
                  <h3>Comments</h3>
                  <a href="javascript:;" class="pull-left">
                    <img alt="" src="../../assets/admin/pages/media/blog/9.jpg" class="media-object">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Media heading <span>
											5 hours ago / <a href="javascript:;">
                      Reply </a>
											</span>
                    </h4>
                    <p>
                      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    </p>
                    <hr>
                    <!-- Nested media object -->
                    <div class="media">
                      <a href="javascript:;" class="pull-left">
                        <img alt="" src="../../assets/admin/pages/media/blog/5.jpg" class="media-object">
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">Media heading <span>
													17 hours ago / <a href="javascript:;">
                          Reply </a>
													</span>
                        </h4>
                        <p>
                          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                        </p>
                      </div>
                    </div>
                    <!--end media-->
                    <hr>
                    <div class="media">
                      <a href="javascript:;" class="pull-left">
                        <img alt="" src="../../assets/admin/pages/media/blog/7.jpg" class="media-object">
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">Media heading <span>
													2 days ago / <a href="javascript:;">
                          Reply </a>
													</span>
                        </h4>
                        <p>
                          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                        </p>Flickr
                      </div>
                    </div>
                    <!--end media-->
                  </div>
                </div>
                <!--end media-->
                <div class="media">
                  <a href="javascript:;" class="pull-left">
                    <img alt="" src="../../assets/admin/pages/media/blog/6.jpg" class="media-object">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Media heading <span>
											July 5,2013 / <a href="javascript:;">
                      Reply </a>
											</span>
                    </h4>
                    <p>
                      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    </p>
                  </div>
                </div>
                <!--end media-->
                <hr>
                <div class="post-comment">
                  <h3>Leave a Comment</h3>
                  <form role="form" action="#">
                    <div class="form-group">
                      <label class="control-label">Name <span class="required">
												* </span>
                      </label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                      <label class="control-label">Email <span class="required">
												* </span>
                      </label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                      <label class="control-label">Message <span class="required">
												* </span>
                      </label>
                      <textarea class="col-md-10 form-control" rows="8"></textarea>
                    </div>
                    <button class="margin-top-20 btn blue" type="submit">Post a Comment</button>
                  </form>
                </div>
              </div>
              <!--end col-md-9-->

              <!--end col-md-3-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <!--群组信息-->
    <div class="">
      <%= render 'groups/group_info' %>
    </div>
    <!--显示邀请的人-->
    <div class="">
      <!-- BEGIN PORTLET-->
      <%= render 'groups/invite_member' %>
      <!-- END PORTLET-->
    </div>


    <!--群组的标签-->
    <div class="">
      <%= render 'groups/group_tags' %>
    </div>

    <!--群组最近的活动-->
    <div class="">
      <%= render 'groups/group_activity' %>
    </div>
    <!--群组成员-->
    <div class="">
      <%= render 'groups/group_members' %>
    </div>
  </div>

</div>