<div class="row">
  <!--群组的简介等信息-->


  <!--显示群组的文章-->
  <div class="col-md-8">

    <div class="portlet light">
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-12 blog-page">
            <div class="row">
              <div class="col-md-12 article-block">
                <h3 style="margin-top:10px;"><%= @topic.title %></h3>
                <div class="blog-tag-data">
                  <div class="row">
                    <div class="col-md-6">
                      <ul class="list-inline blog-tags">
                        <li>
                          <i class="fa fa-tags"></i>
                          <a href="javascript:;">
                            Technology </a>
                          <a href="javascript:;">
                            Education11 </a>
                          <a href="javascript:;">
                            Internetwww </a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6 blog-tag-data-inner">
                      <ul class="list-inline">
                        <li>
                          <i class="fa fa-calendar"></i>
                          <%= @topic.created_at %>

                        </li>
                        <li>
                          <i class="fa fa-comments"></i>
                          <a href="javascript:;">
                            38 Comments </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!--end news-tag-data-->
                <hr/>
                <div>
                  <%= @topic.body %>
                </div>
                <div style="padding-bottom: 30px"></div>
                <hr>

                <%= render 'posts/index' %>

                <!--end media-->
                <hr>
                <%= render 'posts/form' %>
              </div>
              <!--end col-md-9-->

              <!--end col-md-3-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <!--群组信息-->
    <div class="">
      <%= render 'groups/group_info', group: @group %>
    </div>
    <!--显示邀请的人-->
    <div class="">
      <!-- BEGIN PORTLET-->
      <%= render 'groups/invite_member' %>
      <!-- END PORTLET-->
    </div>


    <!--群组的标签-->
    <div class="">
      <%= render 'groups/group_tags' %>
    </div>

    <!--群组最近的活动-->
    <div class="">
      <%= render 'groups/group_activity' %>
    </div>
    <!--群组成员-->
    <div class="">
      <%= render 'groups/group_members' %>
    </div>
  </div>

</div>