<div class="row">
  <!--群组的简介等信息-->


  <!--显示群组的文章-->
  <div class="col-md-8">

    <div class="portlet light">
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-12 blog-page">
            <div class="row">
              <div class="col-md-12 article-block">
                <h2 style="margin-top:10px;"><%= @topic.title %></h2>
                <div class="blog-tag-data">
                  <div class="row">
                    <div class="col-md-6">
                      <ul class="list-inline blog-tags">
                        <li>
                          <% tag_cloud @topic.tag_counts, %w[s m l] do |tag, css_class| %>
                            <%= link_to group_path(tag: tag.name), class: css_class do %>
                              <i class="fa fa-tags"></i> <%= tag.name %>
                        <% end %>
                          <% end %>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6 blog-tag-data-inner">
                      <ul class="list-inline">
                        <li>
                          <i class="fa fa-calendar"></i>
                          <%= @topic.created_at.to_formatted_s(:db) %>
                        </li>
                        <li>
                          <i class="fa fa-comments"></i>
                          <a href="javascript:;">
                            <%= @topic.posts_count %> 回复 </a>
                        </li>
                        <li>
                          <i class="glyphicon glyphicon-user"></i>
                          <%= @topic.user.username %>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!--end news-tag-data-->
                <hr/>
                <div>
                  <%= @topic.body %>
                </div>
                <div style="padding-bottom: 30px"></div>
                <hr>

                <%#= render 'posts/index' %>
                <dl>
                  <dt></dt>
                  <dd>
                    <%=
                        render partial: 'comments/list',
                               locals: { commentable: @topic }
                    %>
                  </dd>
                </dl>

                <!--end media-->
                <hr>
                <%= render 'posts/form' %>
              </div>
              <!--end col-md-9-->

              <!--end col-md-3-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <!--群组信息-->
    <div class="">
      <%= render 'groups/group_info', group: @group %>
    </div>
    <!--显示邀请的人-->
    <div class="">
      <!-- BEGIN PORTLET-->
      <%= render 'groups/invite_member' %>
      <!-- END PORTLET-->
    </div>


    <!--群组的标签-->
    <div class="">
      <%= render 'groups/group_tags' %>
    </div>

    <!--群组最近的活动-->
    <div class="">
      <%#= render 'groups/group_activity' %>
    </div>
    <!--群组成员-->
    <div class="">
      <%= render 'groups/group_members', members: @group.users %>
    </div>
  </div>

</div>