<%= simple_form_for [@group], wrapper: :vertical_form, validate: true, html: { role: 'form', id: 'group_form' }  do |f| %>

  <div class="form-body">
    <%= f.input :name %>
    <%= f.input :short_name %>
    <%= f.input :intro %>
    <%= f.input :desc %>
    <%= f.input :website %>
    <%= f.input :logo %>
    <%= f.input :privacy %>

    <div class="form-actions noborder">
      <%= f.submit '提交', class: 'btn green', data: { disable_with: '提交中...' }  %>
      <%= link_to '取消',  request.referer.present? ? request.referer : organizations_path, class: 'btn default' %>
    </div>

  </div>
<% end %>