<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-speech"></i>
      <span class="caption-subject bold uppercase">
        <%= group.name %>
      </span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions joined_group">
      <%= render 'groups_users/joined_group', group: group %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="">
      <%= link_to group_path(group) do %>
      <%= image_tag group.logo, width: "200px", height: "200px" %>
      <div class="caption">
        <p>
          <%= group.intro %>
        </p>
      </div>
      <% end %>
    </div>

  </div>
</div>
