<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-speech"></i>
      <span class="caption-subject bold uppercase"><%= group.name %></span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions joined_group">
      <%= render 'groups_users/joined_group', group: group %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="">
      <%= image_tag group.logo, width: "200px", height: "200px" %>
      <div class="caption">
        <h3><%= group.name %></h3>
        <p>
          <%= group.intro %>
        </p>
        <p>
          <%=  %>
        </p>

      </div>
    </div>

  </div>
</div>
