<div class="row">
  <!--群组的简介等信息-->
  <!--显示群组的文章-->
  <div class="col-md-8">
    <%= render 'group_topics', group: @group %>
  </div>

  <div class="col-md-3">
    <!--群组信息-->
    <div class="">
      <%= render 'group_info' %>
    </div>
    <!--显示邀请的人-->
    <div class="">
      <!-- BEGIN PORTLET-->
      <%= render 'invite_member' %>
      <!-- END PORTLET-->
    </div>


    <!--群组的标签-->
    <div class="">
      <%= render 'group_tags' %>
    </div>

    <!--群组最近的活动-->
    <div class="">
      <%= render 'group_activity' %>
    </div>
    <!--群组成员-->
    <div class="">
      <%= render 'group_members' %>
    </div>
  </div>


</div>