
.page-sidebar.navbar-collapse.collapse
  %ul.page-sidebar-menu.page-sidebar-menu-hover-submenu1{"data-auto-scroll" => "false", "data-keep-expanded" => "true", "data-slide-speed" => "200"}
    %li.heading
      %h3 管理列表
    %li
      %a{:href => "javascript:;"}
        %i.icon-rocket
        %span.title 用户管理
        %span.arrow
      %ul.sub-menu
        %li
          = link_to admin_users_path do
            %i.icon-pencil
            用户管理
        %li
          = link_to admin_roles_path do
            %i.icon-pencil
            角色管理
        %li
          = link_to admin_permissions_path do
            %i.icon-pencil
            权限管理
    %li
      %a{:href => "javascript:;"}
        %i.icon-basket
        %span.title 内容管理
        %span.arrow
      %ul.sub-menu
        %li
          = link_to  admin_topics_path do
            %i.icon-paper-plane
            %span 文章管理
        %li
          = link_to  admin_posts_path do
            %i.icon-paper-plane
            %span 回复管理
        %li
          = link_to  admin_comments_path do
            %i.icon-paper-plane
            %span 评论管理
    %li
      %a{:href => "javascript:;"}
        %i.icon-diamond
        %span.title 机构管理
        %span.arrow
      %ul.sub-menu
        %li
          = link_to admin_organizations_path do
            %i.icon-briefcase
            机构管理
        %li
          = link_to admin_organizations_users_path do
            %i.icon-briefcase
            加入机构申请
    %li
      %a{:href => "javascript:;"}
        %i.icon-folder
        %span.title 群组管理
        %span.arrow
      %ul.sub-menu
        %li
          = link_to admin_groups_path do
            %i.icon-settings
            群组管理
        %li
          = link_to admin_groups_users_path do
            %i.icon-settings
            加入群组申请
  / END SIDEBAR MENU
