<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
<div class="page-sidebar navbar-collapse collapse">
  <!-- BEGIN SIDEBAR MENU -->
  <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
  <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
  <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
  <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
  <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
  <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
  <ul class="page-sidebar-menu page-sidebar-menu-hover-submenu1" data-keep-expanded="true" data-auto-scroll="true" data-slide-speed="200">
    <li class="heading">
      <h3>GENERAL</h3>
    </li>

    <!-- BEGIN ANGULARJS LINK -->
    <!--<li class="tooltips" data-container="body" data-placement="right" data-html="true" data-original-title="AngularJS version demo">-->
      <!--<a href="angularjs" target="_blank">-->
        <!--<i class="icon-paper-plane"></i>-->
						<!--<span class="title">-->
						<!--个人信息 </span>-->
      <!--</a>-->
    <!--</li>-->
    <!-- END ANGULARJS LINK -->
    <li>
      <a href="javascript:;">
        <i class="icon-basket"></i>
        <span class="title">内容管理</span>
        <span class="arrow "></span>
      </a>
      <ul class="sub-menu">
        <li>
          <%= link_to  admin_topics_path do %>
            <i class="icon-basket"></i>
            <span>文章</span>
          <% end %>
        </li>

      </ul>
    </li>
    <li>
      <a href="javascript:;">
        <i class="icon-rocket"></i>
        <span class="title">用户管理</span>
        <span class="arrow "></span>
      </a>
      <ul class="sub-menu">
        <li>
          <%= link_to "用户", admin_users_path %>
        </li>
        <li>
          <%= link_to "角色", admin_roles_path %>
        </li>
        <li>
          <%= link_to "权限", admin_permissions_path %>
        </li>

      </ul>
    </li>
    <li>
      <a href="javascript:;">
        <i class="icon-diamond"></i>
        <span class="title">机构管理</span>
        <span class="arrow "></span>
      </a>
      <ul class="sub-menu">
        <li><%= link_to "机构", admin_organizations_path %></li>
      </ul>
    </li>
    <li>
      <a href="javascript:;">
        <i class="icon-folder"></i>
        <span class="title">群组管理</span>
        <span class="arrow "></span>
      </a>
      <ul class="sub-menu">

        <li><%= link_to "群组", admin_groups_path %></li>

      </ul>
    </li>

  </ul>
  <!-- END SIDEBAR MENU -->
</div>