= render 'breadcrumb'
.row
  .col-md-12
    / BEGIN SAMPLE TABLE PORTLET
    .portlet.light
      .portlet-title
        .caption
          %i.fa.fa-cogs.font-green-sharp
          %span.caption-subject.font-green-sharp.bold.uppercase
            = resource_class.model_name.human + "列表"
        .tools
          %a.collapse{"data-original-title" => "", :href => "javascript:;", :title => ""}
          %a.config{"data-original-title" => "", "data-toggle" => "modal", :href => "#portlet-config", :title => ""}
          %a.reload{"data-original-title" => "", :href => "javascript:;", :title => ""}
          %a.remove{"data-original-title" => "", :href => "javascript:;", :title => ""}
      .portlet-body.flip-scroll
        - if @q.present?
          .row.search-form-default
            .col-md-12
              = search_form_for [:admin, @q], html: { class: 'form-inline form-horizontal' } do |f|
                .input-group
                  .input-cont
                    = f.text_field :"#{attributes.first}_cont", placeholder: "搜索#{resource_class.human_attribute_name(attributes.first)}...", class: 'form-control'
                  %span.input-group-btn
                    %button.btn.green
                      查询
                      %i.m-icon-swapright.m-icon-white

        = render "index", attributes: attributes
    / END SAMPLE TABLE PORTLET
