= simple_form_for [:admin, resource], validate: true, class: "form-horizontal" do |f|
  .box-body
    - attributes.each do |attr|
      = f.input attr

    - permissions = Permission.all
    - Permission.pluck(:subject_class).uniq.each do |subject_class|
      = subject_class.constantize.model_name.human
      = f.association :permissions, collection: permissions.select{ |p| p.subject_class == subject_class }, as: :check_boxes, :label => false, :item_wrapper_class => 'inline'

  .form-actions
    .row
      .col-md-offset-3.col-md-9
        = f.submit '保存修改', class: "btn green", data: { disabled_with: "提交中"}
        = link_to t("#{resource_class.name.underscore}.back_list") , collection_path, class: 'btn default'
