<div class="portlet light profile-sidebar-portlet">
  <!-- SIDEBAR USERPIC -->
  <div class="profile-userpic">
    <%= image_tag current_user.avatar, class: "img-responsive img-circle" %>
  </div>
  <!-- END SIDEBAR USERPIC -->
  <!-- SIDEBAR USER TITLE -->
  <div class="profile-usertitle">
    <div class="profile-usertitle-name">
      <%= current_user.username %>
    </div>
    <div class="profile-usertitle-job">
      <%= current_user.profile.try(:title) %>
    </div>
  </div>
  <!-- END SIDEBAR USER TITLE -->
  <!-- SIDEBAR BUTTONS -->
  <div class="profile-userbuttons">
    <button type="button" class="btn btn-circle green-haze btn-sm">关注</button>
    <button type="button" class="btn btn-circle btn-danger btn-sm">私信</button>
  </div>
  <!-- END SIDEBAR BUTTONS -->
  <!-- SIDEBAR MENU -->
  <div class="profile-usermenu">
    <ul class="nav">
      <li>
        <%= link_to users_center_index_path do %>
          <i class="icon-home"></i>
          个人主页
        <% end %>
      </li>
      <li class="active">
        <%= link_to edit_users_center_index_path do %>
          <i class="icon-settings"></i>
          个人信息设置
        <% end %>

      </li>
      <li>
        <%= link_to edit_user_registration_path do %>
          <i class="icon-info"></i>安全设置
        <% end %>
      </li>
      <li>
        <%= link_to raw('<i class="icon-info"></i>我的群组'), joined_groups_users_center_index_path %>

      </li>
      <li>
        <%= link_to raw('<i class="icon-info"></i>我的机构'), joined_organizations_users_center_index_path %>
      </li>
      <li>
          <a>我的实验</a>
      </li>
    </ul>
  </div>
  <!-- END MENU -->
</div>
