<div class="row">
  <div class="col-md-12">
    <!-- BEGIN PROFILE SIDEBAR -->
    <div class="profile-sidebar" style="width: 250px;">
      <!-- PORTLET MAIN -->
      <%= render 'left_profile' %>
      <!-- END PORTLET MAIN -->

    </div>
    <!-- END BEGIN PROFILE SIDEBAR -->
    <!-- BEGIN PROFILE CONTENT -->
    <div class="profile-content">
      <div class="row">
        <div class="col-md-12">
          <div class="portlet light col-md-6">
            <div class="portlet-title tabbable-line">
              <div class="caption caption-md">
                <i class="icon-globe theme-font hide"></i>
                <span class="caption-subject font-blue-madison bold uppercase">个人信息设置</span>
              </div>
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#tab_1_1" data-toggle="tab">个人信息</a>
                </li>
                <li>
                  <a href="#tab_1_2" data-toggle="tab">修改密码</a>
                </li>
              </ul>
            </div>

              <div class="portlet-body">
                <div class="tab-content">
                  <!-- PERSONAL INFO TAB -->
                  <div class="tab-pane active" id="tab_1_1">
                    <%= simple_form_for [@user], url: edit_users_center_index_path , wrapper: :vertical_form, validate: true, html: { role: 'form' }  do |f| %>
                      <div class="form-body">
                        <%= f.input :username %>
                        <%= f.input :avatar %>
                        <%= f.simple_fields_for :profile, f.object.profile ? f.object.profile : f.object.build_profile do |profile_form| %>
                          <%= profile_form.input :title %>
                          <%= profile_form.input :gender, as: :radio_buttons, :item_wrapper_class => 'inline' %>
                          <%= profile_form.input :name %>
                          <%= profile_form.input :mobile %>
                          <%= profile_form.input :qq %>
                          <%= profile_form.input :weibo %>
                          <%= profile_form.input :wechat %>
                        <% end %>
                        <div class="form-actions noborder">
                          <%= f.submit class: 'btn green', data: { disable_with: t('action_labels.submitting') }  %>
                          <%= link_to '取消',  request.referer.present? ? request.referer : organizations_path, class: 'btn default' %>
                        </div>

                      </div>
                    <% end %>
                  </div>
                  <!-- END PERSONAL INFO TAB -->

                  <!-- CHANGE PASSWORD TAB -->
                  <div class="tab-pane" id="tab_1_2">
                    <%= simple_form_for(@user, url: update_password_users_center_index_path) do |f| %>
                      <div class="form-inputs">
                        <%= f.input :email, required: true, autofocus: true, disabled: true %>

                        <% if false && devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                        <% end %>
                        <%= f.input :current_password, label: '请输入当前密码', hint: "请输入当前密码", required: true %>
                        <%= f.input :password, autocomplete: "off", hint: "不想要修改请不要点保存", required: true %>
                        <%= f.input :password_confirmation, required: true %>
                      </div>

                      <div class="form-actions">
                        <%= f.button :submit, "更改密码", class: 'btn btn-success' %>
                      </div>
                    <% end %>
                  </div>
                  <!-- END CHANGE PASSWORD TAB -->

                </div>
              </div>

          </div>
        </div>
      </div>
    </div>
    <!-- END PROFILE CONTENT -->
  </div>
</div>