<div class="row">
  <div class="col-md-12">
    <!-- BEGIN PROFILE SIDEBAR -->
    <div class="profile-sidebar" style="width: 250px;">
      <!-- PORTLET MAIN -->
      <%= render 'left_profile' %>
      <!-- END PORTLET MAIN -->
    </div>
    <!-- END BEGIN PROFILE SIDEBAR -->

    <div class="col-md-9">
      <div class="portlet light">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-basket font-green-sharp"></i>
									<span class="caption-subject font-green-sharp bold uppercase">
									我的机构 </span>
            <span class="caption-helper">机构</span>
          </div>
          <div class="actions btn-set">
            <!--<button type="button" name="back" class="btn btn-default btn-circle"><i class="fa fa-angle-left"></i> Back-->
            <!--</button>-->
            <!--<button class="btn btn-default btn-circle "><i class="fa fa-reply"></i> Reset</button>-->
            <!--<button class="btn green-haze btn-circle"><i class="fa fa-check"></i> Save</button>-->
            <!--<button class="btn green-haze btn-circle"><i class="fa fa-check-circle"></i> Save &amp; Continue Edit-->
            <!--</button>-->
            <!--<div class="btn-group">-->
              <!--<a class="btn yellow btn-circle" href="javascript:;" data-toggle="dropdown">-->
                <!--<i class="fa fa-share"></i> More <i class="fa fa-angle-down"></i>-->
              <!--</a>-->
              <!--<ul class="dropdown-menu pull-right">-->
                <!--<li>-->
                  <!--<a href="javascript:;">-->
                    <!--Duplicate </a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="javascript:;">-->
                    <!--Delete </a>-->
                <!--</li>-->
                <!--<li class="divider">-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="javascript:;">-->
                    <!--Print </a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
          </div>
        </div>
        <div class="portlet-body">
          <div class="tabbable">

            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#organization_online_tab" data-toggle="tab" aria-expanded="true">
                  已加入机构 <%= @memberships.online.length %></a>
              </li>
              <li class="">
                <a href="#organization_admin_tab" data-toggle="tab" aria-expanded="false">
                  机构管理员 <%= @memberships.admin.length %>
                </a>
              </li>
              <li class="">
                <a href="#organization_check_tab" data-toggle="tab" aria-expanded="false">
                  申请中的机构 <%= @memberships.check.length %>
                </a>
              </li>
              <li class="">
                <a href="#organization_offline_tab" data-toggle="tab" aria-expanded="false">
                  被拒绝的机构 <%= @memberships.offline.length %>
                </a>
              </li>
            </ul>


            <div class="tab-content no-space">
              <div class="tab-content">

                <div class="tab-pane active " id="organization_online_tab">

                  <% @memberships.online.each do |membership| %>
                    <%= render 'organizations/organization', organization: membership.manageable %>
                  <% end %>
                  <%= show_nothing(@memberships.online) %>

                </div>

                <div class="tab-pane" id="organization_admin_tab">
                  <% @memberships.admin.each do |membership| %>
                    <%= render 'organizations/organization', organization: membership.manageable %>
                  <% end %>
                  <%= show_nothing(@memberships.admin) %>

                </div>

                <div class="tab-pane" id="organization_check_tab">
                  <!-- 审核中的机构-->
                  <div class="row">
                    <% @memberships.check.each do |membership| %>
                      <div class="col-sm-12 col-md-4">
                        <%= render 'organizations/organization', organization: membership.manageable %>
                      </div>
                    <% end %>
                  </div>
                  <%= show_nothing(@memberships.check) %>

                </div>
                <div class="tab-pane" id="organization_offline_tab">
                  <% @memberships.offline.each do |membership| %>
                    <%= render 'organizations/organization', organization: membership.manageable %>
                  <% end %>
                  <%= show_nothing(@memberships.offline) %>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
