<%= simple_form_for @organization, wrapper: :vertical_form, validate: true, html: { role: 'form', id: 'organization_form' }  do |f| %>
  <div class="form-body">
    <%= f.input :parent_id, as: :hidden, input_html: {value: params[:parent_id]} %>
    <div class="col-md-6">
      <%= f.input :name, placeholder: '中国大气研究所' %>
    </div>
    <div class="col-md-6">
      <%= f.input :short_name %>
    </div>

    <div class="col-md-6">
      <%= f.input :city  %>
    </div>
    <div class="col-md-6">
      <%= f.input :address %>
    </div>

    <div class="col-md-6">
      <%= f.input :logo %>
    </div>
    <div class="col-md-6">
      <%= f.input :website %>
    </div>

    <div class="col-md-6">
      <%= f.input :contact_name %>
    </div>
    <div class="col-md-6">
      <%= f.input :contact_mobile %>
    </div>

    <%= f.input :intro %>
    <%= f.input :desc %>


    <div class="form-actions noborder">
      <%= f.submit class: 'btn green', data: { disable_with: '提交中...' }  %>
      <%= link_to '取消',  request.referer.present? ? request.referer : organizations_path, class: 'btn default' %>
    </div>

  </div>
<% end %>

