<div class="row">

  <div class="col-md-8">
    <!-- BEGIN Portlet PORTLET-->
    <div class="portlet light">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-speech"></i>
          <span class="caption-subject bold uppercase">机构</span>
          <span class="caption-helper"></span>
        </div>

        <div class="inputs">
          <div class="portlet-input input-inline input-medium">
            <%= search_form_for [@q], html: { class: 'form-inline form-horizontal' } do |f| %>
            <div class="input-group">
              <%= f.text_field :name_cont, placeholder: '机构名称...', class: 'form-control input-circle-left' %>
                <span class="input-group-btn">
                <button class="btn btn-circle-right btn-default" type="submit">搜索</button>
                </span>
            </div>
            <% end %>
          </div>
        </div>


        <div class="actions">
          <%= link_to new_organization_path, class: "btn btn-circle btn-default" do %>
            <i class="fa fa-plus"></i> 申请
          <% end %>
        </div>

      </div>
      <div class="portlet-body">
        <div class="row">
          <% @organizations.each do |organization| %>
            <div class="col-md-12">
              <%= render 'organizations/organization', organization: organization  %>
            </div>
          <% end %>

          <!--原始页面-->

        </div>
      </div>
    </div>
    <!-- END Portlet PORTLET-->
  </div>

  <!--推荐机构-->
  <div class="col-md-3">
    推荐机构
    <% 3.times do %>
      <%= render 'organizations/hot_organization' %>
    <% end %>
  </div>
</div>
