<div class="col-md-12 #organization_show">
  <!-- BEGIN Portlet PORTLET-->
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption font-green-sharp">
        <i class="icon-speech font-green-sharp"></i>
        <span class="caption-subject"><%= @organization.name %></span>
        <span class="caption-helper"></span>
      </div>

      <div class="actions">
        <div class="btn-group">

          <a class="btn btn-circle btn-default " href="javascript:;" data-toggle="dropdown">
            <i class="fa fa-user"></i> 管理 <i class="fa fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu pull-right">
            <li><%= link_to edit_organization_path(@organization) do %>
                <i class="fa fa-pencil"></i> 修改信息 <% end %>
            </li>
            <li>
              <%= link_to organization_path(@organization), method: :delete, data: {confirm: "delete?"} do %>
                <i class="fa fa-trash-o"></i> 删除 <% end %>
            </li>

            <li>
              <%= link_to new_organization_path(parent_id: @organization.id) do %>
                <i class="fa fa-trash-o"></i> 新建子机构 <% end %>
            </li>

            <li>
              <%= link_to manage_organization_memberships_path(@organization) do %>
                <i class="fa fa-trash-o"></i> 管理该机构成员 <% end %>
            </li>

          </ul>
        </div>
        <%= render 'memberships/joined_membership', manageable: @organization %>

        <a href="javascript:;" class="btn btn-circle btn-default btn-icon-only fullscreen" data-original-title="" title=""></a>
      </div>
    </div>

    <% if @organization.status != 'online' %>
      <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <strong>提醒!</strong> 该机构还在审核中，只有当前机构管理员可见！！！
      </div>
    <% end %>


    <div class="portlet-body">
      <div class="col-md-3">
        <img src="/assets/admin/pages/media/profile/profile_user.jpg" style="width: 100%;height: 250px" alt=""/>
      </div>
      <div class="col-md-6">
        <h1><%= @organization.name %></h1>

        <h3><%= @organization.short_name %></h3>

        <p>负责人: <%= @organization.contact_name %></p>

        <p>创建于: <%= @organization.created_at %>  <strong>隶属于 <%= @organization.parent.try(:name) %></strong></p>

        <p>地址：<%= @organization.city %> </p>
      </div>


      <div class="clearfix" style="padding-bottom: 20px">
      </div>

      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#organization_info_tabl" data-toggle="tab" aria-expanded="true">
            基本信息 </a>
        </li>
        <li class="">
          <a href="#organization_info_suborganizations" data-toggle="tab" aria-expanded="false">
            子机构 </a>
        </li>

        <li class="">
          <a href="#organization_info_groups" data-toggle="tab" aria-expanded="false">
            群组 </a>
        </li>

        <li class="">
          <a href="#organization_memebers" data-toggle="tab" aria-expanded="false">
            成员 </a>
        </li>

      </ul>
      <div class="tab-content">
        <div class="tab-pane fade active in " id="organization_info_tabl">

          <ul class="list-group">
            <% attributes.each do |attr| %>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-md-2">
                    <strong><%= resource_class.human_attribute_name(attr) %></strong>
                  </div>
                  <div class="col-md-9">
                    <%= resource.send(attr) %>
                  </div>
                </div>

              </li>
            <% end %>

          </ul>

        </div>
        <div class="tab-pane fade " id="organization_info_suborganizations">
          <div class="row">
            <% @sub_organizations.each do |organization| %>
              <div class="col-sm-12 col-md-3">
                <%= render 'organizations/organization', organization: organization %>
              </div>
            <% end %>
          </div>

        </div>
        <div class="tab-pane fade" id="organization_info_groups">
          <div class="row">
            <% @groups.each do |group| %>
              <div class="col-sm-12 col-md-3">
                <%= render 'groups/group', group: group %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="organization_memebers">
          <div class="row">
            <% @organization.memberships.online.each do |membership| %>
              <div class="col-sm-12 col-sm-2">
                <%= render 'memberships/membership', membership: membership %>
              </div>
              </div>
            <% end %>

            </div>
        <div class="clearfix margin-bottom-30">
        </div>

      </div>
    </div>
    <!-- END Portlet PORTLET-->
  </div>
</div>
