<div class="row">

  <div class="col-md-offset-2 col-md-8">
    <!-- BEGIN Portlet PORTLET-->
    <div class="portlet light">
      <div class="portlet-title">
        <div class="caption">
          <h1><%= @organization.name %></h1>
          <%= @organization.short_name %> | <%= @organization.city %> | <%= @organization.website %>
        </div>
        <div class="actions">
          <a href="javascript:;" class="btn blue btn-sm">
            <i class="fa fa-share"></i> Share </a>

          <div class="btn-group">
            <a class="btn btn-sm purple" href="javascript:;" data-toggle="dropdown">
              <i class="fa fa-user"></i> User <i class="fa fa-angle-down "></i>
            </a>
          </div>
        </div>
      </div>
      <div class="pull-right">
        <%= image_tag @organization.logo, height: "268px", width: "268px" %>
      </div>
      <div class="portlet-body">
        <p>
          机构简介 <%= @organization.intro %>
        </p>

        <p>
          机构介绍 <%= @organization.desc %>
        </p>

        <hr/>

        <div class="row">
          <div>
            <h3>下属子机构</h3>
          </div>
          <% @sub_organizations.each do |organization| %>
            <div class="col-md-4">
              <%= render 'organizations/organization', organization: organization %>
            </div>
          <% end %>
        </div>

        <div class="row">
          <div>
            <h3>下属群组</h3>
          </div>
          <% @groups.each do |group| %>
            <div class="col-md-4">
              <%= render 'groups/group', group: group %>
            </div>
          <% end %>
        </div>

      </div>
    </div>
    <!-- END Portlet PORTLET-->
  </div>


  </div>


