<div class="page-header navbar navbar-fixed-top">
  <!-- BEGIN HEADER INNER -->
  <div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
      <a href="">
        <img src="/assets/admin/layout4/img/logo-light.png" alt="logo" class="logo-default"/>
      </a>
      <div class="menu-toggler sidebar-toggler">
        <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
      </div>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
    </a>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN PAGE ACTIONS -->
    <!-- DOC: Remove "hide" class to enable the page header actions -->

    <!-- END PAGE ACTIONS -->
    <!-- BEGIN PAGE TOP -->
    <div class="page-top">
      <!-- BEGIN HEADER SEARCH BOX -->
      <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
      <form class="search-form" action="extra_search.html" method="GET">
        <div class="input-group">
          <input type="text" class="form-control input-sm" placeholder="Search..." name="query">
					<span class="input-group-btn">
					<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
					</span>
        </div>
      </form>
      <!-- END HEADER SEARCH BOX -->
      <!-- BEGIN TOP NAVIGATION MENU -->
      <div class="top-menu">

          <ul class="nav navbar-nav pull-left">

            <!-- END INBOX DROPDOWN -->
            <!-- BEGIN TODO DROPDOWN -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li class="dropdown dropdown-extended dropdown-tasks dropdown-dark" id="header_task_bar">
              <%= link_to organizations_path, class: "dropdown-toggle"  do %>
                <i class="icon-envelope-open"></i>
						<span class="badge badge-danger">
             机构 </span>
              <% end %>
            </li>
            <li class="dropdown dropdown-extended dropdown-tasks dropdown-dark" id="header_task_bar">
              <%= link_to groups_path, class: "dropdown-toggle"  do %>
                <i class="icon-envelope-open"></i>
						<span class="badge badge-danger">
             群组 </span>
              <% end %>
            </li>

          </ul>



        <ul class="nav navbar-nav pull-right">
          <li class="separator hide">
          </li>
          <!-- BEGIN NOTIFICATION DROPDOWN -->
          <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
          <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
              <i class="icon-bell"></i>
						<span class="badge badge-success">
						7 </span>
            </a>
            <ul class="dropdown-menu">
              <li class="external">
                <h3><span class="bold">12 pending</span> notifications</h3>
                <a href="extra_profile.html">view all</a>
              </li>
              <li>
                <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                  <li>
                    <a href="javascript:;">
                      <span class="time">just now</span>
										<span class="details">
										<span class="label label-sm label-icon label-success">
										<i class="fa fa-plus"></i>
										</span>
										New user registered. </span>
                    </a>
                  </li>

                  <li>
                    <a href="javascript:;">
                      <span class="time">9 days</span>
										<span class="details">
										<span class="label label-sm label-icon label-danger">
										<i class="fa fa-bolt"></i>
										</span>
										Storage server failed. </span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <!-- END NOTIFICATION DROPDOWN -->
          <li class="separator hide">
          </li>

          <!-- BEGIN USER LOGIN DROPDOWN -->
          <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
          <li class="dropdown dropdown-user dropdown-dark">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<span class="username username-hide-on-mobile"><%= current_user.try(:email) %></span>
              <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
              <%= image_tag current_user.avatar, class: "img-responsive img-circle" %>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
              <li>
                <%= link_to  users_center_index_path do %>
                  <i class="icon-user"></i> 个人中心
                <% end %>
              </li>

              <li>
                <%= link_to  joined_organizations_users_center_index_path do %>
                  <i class="icon-key"></i> 我的机构
                <% end %>
              </li>

              <li>
                <%= link_to joined_groups_users_center_index_path do %>
                  <i class="icon-key"></i> 我的讨论组
                <% end %>
              </li>

              <li>
                <%= link_to destroy_user_session_path , method: :delete do %>
                  <i class="icon-key"></i> 退出
                <% end %>
              </li>

            </ul>
          </li>
          <!-- END USER LOGIN DROPDOWN -->

        </ul>
      </div>
      <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END PAGE TOP -->
  </div>
  <!-- END HEADER INNER -->
</div>