<html>
<head>
  <title>Leaf</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>



<body class="page-header-fixed page-sidebar-closed-hide-logo page-sidebar-closed-hide-logo">

<div class="clearfix"></div>
<!-- BEGIN HEADER -->
<%= render 'application/logined_header' %>
<!-- END HEADER -->


<!-- BEGIN CONTAINER -->
<div class="page-container">
  <!-- BEGIN SIDEBAR -->
  <%= render 'admin/application/sidebar_menu' %>
  <!-- END SIDEBAR -->
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <div class="page-content">

      <%= yield %>
    </div>
  </div>

</div>


<%= render "application/footer" %>
<script>
  jQuery(document).ready(function() {
    Metronic.init(); // init metronic core componets
    Layout.init(); // init layout
    Demo.init(); // init demo features
    Index.init(); // init index page
    Tasks.initDashboardWidget(); // init tash dashboard widget
  });
</script>

</body>

</html>
