<!DOCTYPE html>
<html>
  <head>
    <title>Scrinium</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="/assets/global/plugins/pace/pace.min.js"></script>
    <link href="/assets/global/plugins/pace/themes/pace-theme-barber-shop.css" rel="stylesheet" />
    <%= csrf_meta_tags %>
  </head>
  <!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
  <body class="page-header-fixed page-sidebar-closed-hide-logo page-sidebar-closed">
    <div class="clearfix"></div>
    <% if current_user %>
      <%= render 'application/logined_header' %>
    <% else %>
      <%= render 'application/unlogin_header' %>
    <% end %>

    <div class="page-container">
      <%= render 'application/messages' %>
      <div class="page-content-wrapper">
        <div class="page-content">
          <%= yield %>
        </div>
      </div>
    </div>

    <script>
      jQuery(document).ready(function() {
        Metronic.init(); // init metronic core componets
        Layout.init(); // init layout
        QuickSidebar.init(); // init quick sidebar
        Tasks.initDashboardWidget(); // init tash dashboard widget
      });
    </script>

    <%= render 'application/footer' %>
  </body>
</html>
